
.movie-detail-container {
    padding: 20px;
    /* background-color: black; */
}

.movie-detail-header {
    display: flex;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 20px;
}

.movie-poster {
    width: 300px;
    border-radius: 10px;
}

.movie-info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-info h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.movie-info p {
    margin: 5px 0;
    font-size: 18px;
}

#rating{
    color:#f39c12;
}

#release-year{
    color: rgb(0, 79, 238);
}
.movie-cast {
    margin-top: 30px;
    color: black;
}

.cast-grid{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


@media(max-width:700px) {
    .movie-detail-container {
        margin-top: 25px;
    }

    .movie-info h2 {
        font-size: 27px;
    }

    .movie-info p {
        font-size: 16px;
    }
}